<!DOCTYPE html>
<html lang="en">
        <head>
          <title>BLOG</title>
          <meta charset="utf-8">
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        </head>
    <body>
                <div class="container">
                      <div class="jumbotron">
                            <center><h1>Xiaomi Redmi Note Prime</h1></center >
                            <center><p><italic>Custom Roms Discussion For Redmi Note Prime</italic></p></center>
                      </div>
                </div>


                  <div class="container">
                        {% block body_block %}
                                  
                        {% endblock %}
                  </div>

    </body>
</html>
